.newad-backdrop {
  position: fixed;
  inset: 0;
  margin-top: 50px;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.newad-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 620px;
  max-height: 90vh;
  overflow-y: auto;
}

.newad-modal input,
.newad-modal select {
  width: 100%;
  margin: 5px 0 15px;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: #011e2d solid 1px;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  background: #aaa;
  padding: 8px 14px;
}

.submit-btn {
  background: #00aaff;
  padding: 8px 14px;
}
